<div class="half">
  <ion-card>
    <ion-card-content>
      <div [formGroup]="formLocation">
        <div class="ion-margin-bottom">
          <ion-item fill="solid">
            <ion-label position="floating">Nome</ion-label>
            <ion-input type="text" formControlName="ds_location"></ion-input>
          </ion-item>
        </div>

        <div>
          <ion-button
            color="primary"
            expand="block"
            shape="round"
            (click)="update()"
            >Update</ion-button
          >
          <ion-button
            color="danger"
            expand="block"
            shape="round"
            (click)="delete()"
            >Delete</ion-button
          >
        </div>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <div [formGroup]="formLocation">
        <div class="ion-margin-bottom">
          <ion-item fill="solid">
            <ion-label position="floating">Nome</ion-label>
            <ion-input type="text" formControlName="ds_location"></ion-input>
          </ion-item>
        </div>

        <div>
          <ion-button
            color="primary"
            expand="block"
            shape="round"
            (click)="create()"
            >Create</ion-button
          >
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</div>
